* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  background-color: #F2EBD8;
  padding: 1.875rem auto;
  color: #54301A;
}

@media (max-width: 768px) {
  body {
    margin: 0 auto;
  }
}

/* ==================== Container ==================== */
.body-container {
  max-width: 646px;
  margin: 2.9rem auto;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

@media (max-width: 768px) {
  .body-container {
    margin: 0 auto;
  }
}

.container {
  padding: 0 1.2rem;
}

/* ==================== TEXT AND OTHERS ==================== */
h2 {
  font-size: 1.95rem;
  margin: 0;
  font-family: Georgia, serif;
  font-weight: bold;
}

h5 {
  font-size: 20.9px;
  margin: 0;
}

p {
  font-family: Georgia, serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

input {
  font-family: Tahoma, Verdana, sans-serif;
  color: #54301A;
}

.line-divider-top {
  width: 26px;
  height: 2.8px;
  background-color: #54301A;
  border: none;
  margin: 18px auto 20px;
}

.line-divider-bottom {
  width: 26px;
  height: 2.8px;
  background-color: #54301A;
  border: none;
  margin: 30px auto 0;
}

/* ==================== NAVBAR ==================== */
.navbar {
  padding: 2.4rem 0 1.6rem 0;
}

.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar-logo {
  width: 290px;
  height: auto;
}

/* ==================== HERO ==================== */
.hero-section {
  padding: 1.875rem 1.2rem;
  text-align: center;
}

.hero-section p {
  max-width: 450px;
  margin: 0 auto;
  font-family: Tahoma, sans-serif;
}

/* ==================== SOUP IMAGE ==================== */
.soup-img {
  width: 100%;
  margin: 1.4rem 0 2rem 0;
}

/* ==================== SOUP IMAGE ==================== */
.fill-out {
  padding: 0 1.2rem;
  text-align: center;
}


/* ==================== FORM ==================== */
.form-section {
  padding-bottom: 1.5rem;
}

.request-form {
  padding: 0.9rem 0;
  text-align: left;
}

.request-form label {
  display: block;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #54301A;
  margin: 2rem 0 0;
  font-weight: bold;
}

.request-form label span {
  color: #ff0000;
}

.request-form input {
  width: 100%;
  padding: 0.6rem 0.6rem 0.7rem 0.5rem;
  margin: 0.48rem 0;
  border: 2px solid #aaa;
  border-radius: 4px;
  font-size: 1rem;
}

.request-form input[type="text"],
.request-form input[type="email"],
.request-form input[type="tel"] {
  width: 100%;
  font-family: Tahoma, sans-serif;
}

/* Placeholder Styling */
.request-form input::placeholder {
  color: #54301A;
  opacity: 1;
}

.request-form input::-webkit-input-placeholder {
  color: #54301A;
}

.request-form input::-moz-placeholder {
  color: #54301A;
}

.request-form input:-ms-input-placeholder {
  color: #54301A;
}

.form-row {
  display: flex;
  gap: 1rem;
}

.two-col > .input-container,
.two-col > input,
.two-col > div {
  flex: 1;
}

/* ==================== RADIO BUTTON STYLE ==================== */
.radio-group {
  display: flex;
  flex-direction: row;
  gap: 3.3rem;
  margin: 0.4rem 0 1.4rem;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-weight: normal;
  margin: 0;
}

.radio-group input {
  appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  border: 2.5px solid #54301A;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
  margin: 0 !important;
  padding: 0 !important;
}

.radio-group input::before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: #54301A;
}

.radio-group input:checked::before {
  transform: scale(1);
}

.radio-group p {
  font-family: Tahoma, sans-serif;
  font-size: 0.9rem;
  margin: 0;
  pointer-events: none;
}

/* ==================== SUBMIT BUTTON ==================== */
.btn-submit {
  display: block;
  margin: 2rem auto 0;
  padding: 1rem 3rem;
  background: #54301A;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  border: 2.2px solid #54301A;
  outline: 2px solid white;
  outline-offset: -5px;
  font-family: Georgia, serif;
}

.btn-submit:hover {
  opacity: 0.9;
}

/* ==================== VALIDATION STYLE ==================== */
.input-container {
  display: flex;
  flex-direction: column;
}

.error-msg {
  color: #ff0000;
  font-size: 11px;
  font-family: Tahoma, sans-serif;
  display: none;
  margin-top: -2px;
  margin-bottom: 5px;
}

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

/* Active state */
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* ==================== THANKYOU ==================== */
/* Modal box */
.modal-box {
  background: #fff;
  color: #54301A;
  padding: 32px;
  max-width: 420px;
  width: 90%;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.modal-box h2 {
  margin-bottom: 12px;
  color: #54301A;
}

.modal-box p {
  margin-bottom: 24px;
  line-height: 1.5;
  color: #54301A;
}

@media (max-width: 480px) {
  .modal-box p {
    font-size: 13px;
  }
}

.modal-box button {
  padding: 10px 2rem;
  border: none;
  border-radius: 8px;
  background: #54301A;
  color: #fff;
  cursor: pointer;
}
